<section class="about-main">
    <div class="about-image">
        <img src="../img/About-img.jpg" alt="About Page Image">
    </div>


    <ui-view class="about-inner-right">

    <section class="about-inner-intro">
        <h1>WE ARE A GROUP OF <em style="color:#12F0F0">ADVENTURERS</em></h1>
        <p>When it comes to travel, the team at DevMtn is a lot like you. We’re always bringing back travel tips and stories from our adventures because we don’t just think about trips, we go out and live them. And like you, we’re passionate about sharing insider knowledge of destinations, finding great deals, or simply discovering ways to save time and energy when planning and booking that next great getaway! So look through our packages and see which one fits you best! </p>


        <button ui-sref='adventurers'> MEET THE ADVENTURERS </button>
    </section>
    </ui-view>

</section>
