<section class="adventurers-main">
    <h1>WE ARE THE <em style="color:#12F0F0">ADVENTURERS</em></h1>

    <section class="adventurers-inner">
        <section class="adventure-card">
            <img src="../img/Grizzly-Adams.jpg" alt="C C">
            <h2>C & C</h2>
            <p>The two most extreme campers, hikers, and kayakers. No mountain is too high and no lake is too deep, especially not with their two sidekicks! </p>
        </section>

        <section class="adventure-card">
            <img src="../img/Rally-Sisters.jpg" alt="Auggie Miko">
            <h2>The terrible two!</h2>
            <p>Auggie and Miko have proven to be the best sidekicks for any adventure!</p>
        </section>
    </section>
  </br>


  <button ui-sref='packages'>View Packages</button>
</section>
